.form-control, .input-group-addon {
  border-radius: 4px
}

.form-group {
  display: flex;
  align-items: center;
}

.input-group {
  margin-bottom: 0px;
}

span.input-group-addon.icon-padding {
  padding: 10px 0 10px 4px;  
}